@use 'global' as global;

.footer {
  position: relative;
  height: global.$footer-height;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--surface-text);
  background-color: var(--surface-color);

  border-top: 1px solid var(--surface-outline);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: global.$font-size-sm;
}
