<div class="vault-devtools">
  <!-- Header -->
  <header class="header">
    <div class="title">
      <div class="logo">
        <img src="assets/brand/ngvault-landscape-dark.svg" alt="ngVault" />
      </div>
      <span class="subtitle">DevTools</span>
    </div>

    <div class="meta">
      <span class="event-count">{{ totalEvents() }} events</span>
      <button class="btn-clear" (click)="clearEvents()">Clear</button>
    </div>
  </header>

  <!-- Warning -->
  @if (totalEvents() === 0) {
    <section class="warning">
      Events only appear <strong>after this panel opens</strong>. Trigger actions in your app.
    </section>
    <section class="vault-empty">
      <img class="logo" src="assets/brand/ngvault-landscape-dark.svg" alt="ngVault logo" />
    </section>
  } @else {
    <mat-tab-group class="vault-tabs" animationDuration="150ms">
      <mat-tab label="All">
        <section class="vault-tab-content">
          <ngvault-devtools-panel></ngvault-devtools-panel>
        </section>
      </mat-tab>

      <!-- add more tabs later -->
    </mat-tab-group>
  }
</div>
