@use 'global' as global;

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: global.$toolbar-height;
  padding: 0 global.$spacing-md;

  color: var(--toolbar-text);
  border-bottom: 1px solid var(--toolbar-border);
  background-color: var(--toolbar-bg);
  box-shadow: global.$ngvault-shadow-hover;

  button.mat-icon-button {
    min-width: 40px;
    min-height: 40px;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    @include global.ngvault-font-body;

    .title {
      @include global.ngvault-font-logo;
      margin-right: global.$spacing-md;
    }

    mat-icon {
      color: global.$ngvault-accent-base;
    }
  }

  .menu-trigger mat-icon {
    color: global.$ngvault-text-white;
  }
}
