<mat-toolbar class="toolbar">
  <div class="title-container">
    <mat-icon>bolt</mat-icon>
    <span class="title">NgVault</span>
    <span class="subtitle">Examples</span>
  </div>

  <span class="ngvault-container-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toolbar settings menu" class="menu-trigger">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleTheme()">
      <mat-icon>{{ themeIcon() }}</mat-icon>
      <span>{{ themeLabel() }}</span>
    </button>

    <button mat-menu-item (click)="toggleDirection()">
      <mat-icon>{{ dirIcon() }}</mat-icon>
      <span>{{ dirLabel() }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
