<mat-toolbar class="toolbar">
  <a class="title-container" routerLink="/" aria-label="Go to ngVault home">
    <ngvault-logo logo="ngvault-landscape-dark.svg" tooltip="ngVault — Secure State. Reactive by Design." height="50">
    </ngvault-logo>

    <div class="text-block">
      <span class="subtitle">Secure State. Reactive by Design.</span>
    </div>
  </a>

  <span class="ngvault-container-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toolbar settings menu" class="menu-trigger">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleTheme()">
      <mat-icon>{{ themeIcon() }}</mat-icon>
      <span>{{ themeLabel() }}</span>
    </button>

    <button mat-menu-item (click)="toggleDirection()">
      <mat-icon>{{ dirIcon() }}</mat-icon>
      <span>{{ dirLabel() }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
