@use 'global' as global;

.navigation-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - #{global.$footer-height} - #{global.$toolbar-height});
  overflow-x: hidden;
  overflow-y: hidden;

  box-shadow: global.$ngvault-shadow-base; // soft elevation for nav
}
