@use 'global' as global;

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: global.$spacing-md;
  gap: global.$spacing-md;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .loading-state,
  .error-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - global.$toolbar-height - global.$footer-height);
    text-align: center;

    mat-icon {
      font-size: global.$font-size-lg;
      margin-bottom: global.$spacing-md;
    }
  }

  .insight-accordion {
    width: 100%;
    margin-top: global.$spacing-md;

    .mat-expansion-panel-header {
      background: linear-gradient(to right, global.$ngvault-primary-light, global.$ngvault-primary-base);
      color: global.$ngvault-text-white;
    }

    .info-icon {
      margin: global.$spacing-md;

      &.no-car-icon {
        color: global.$ngvault-warn-dark;
      }
    }

    .no-car-list {
      h4 {
        margin-bottom: global.$spacing-md;
        font-weight: global.$font-weight-medium;
      }
    }

    .empty-state {
      color: global.$ngvault-success-base;
      font-weight: global.$font-weight-medium;
      margin: global.$spacing-sm 0;
    }
  }
}
