@use 'global' as global;

$layout-vertical-padding: global.$spacing-md * 3;
$layout-vertical: calc(global.$toolbar-height + global.$footer-height);
$header-height: 70px;
$action-container-height: 76px;
$top-height: calc($header-height + $action-container-height);
$height: calc(100vh - #{$layout-vertical} - #{$layout-vertical-padding} - $top-height);

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: global.$spacing-md;
  gap: global.$spacing-md;
  overflow: hidden;

  .header {
    width: 100%;
    height: $header-height;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .action-container {
    width: 100%;
    height: $action-container-height;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: global.$spacing-md;

    .action-container-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: global.$spacing-md;

      .button-container {
        width: 175px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .data-container {
    height: $height;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5px;

    .loading-state,
    .error-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - global.$toolbar-height - global.$footer-height);
      text-align: center;

      mat-icon {
        font-size: global.$font-size-lg;
        margin-bottom: global.$spacing-md;
      }
    }

    .insight-accordion {
      width: 100%;
      margin-top: global.$spacing-md;

      .mat-expansion-panel-body {
        padding: 0 !important;
      }

      .mat-expansion-panel-header {
        background: linear-gradient(to right, global.$ngvault-primary-light, global.$ngvault-primary-base);
        color: global.$ngvault-text-white;
      }

      .info-icon {
        margin: global.$spacing-md;

        &.no-car-icon {
          color: global.$ngvault-warn-dark;
        }
      }

      .no-car-list {
        h4 {
          margin-bottom: global.$spacing-md;
          font-weight: global.$font-weight-medium;
        }
      }

      .empty-state {
        color: global.$ngvault-success-base;
        font-weight: global.$font-weight-medium;
        margin: global.$spacing-sm 0;
      }
    }
  }
}
