@forward 'global' as ngvault-*;
@forward 'button' as ngvault-*;
@forward 'color' as ngvault-*;
@forward 'direction' as ngvault-*;
@forward 'font' as ngvault-*;
@forward 'form' as ngvault-*;
@forward 'ngvault-theming' as ngvault-*;
@forward 'scrollbar' as ngvault-*;
@forward 'spacer' as ngvault-*;
@forward 'table-content' as ngvault-*;
