.container {
  height: 100vh;

  .sidenav {
    width: 240px;
    background: #fafafa;
    border-right: 1px solid #e0e0e0;

    .sidenav-header {
      font-weight: 600;
      color: black;
      gap: 0.25em;
    }
  }

  .mat-nav-list a.active {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .content {
    padding: 1.5rem;
  }

  .navigation-list {
    border: 1px solid black;
    width: calc(100% - 2px);

    .menu-content {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .type {
        font-size: 0.75rem;
      }
    }
  }

  /* Responsive toggle for smaller screens */
  .toolbar {
    position: sticky;
    top: 0;
    z-index: 2;

    .hide-desktop {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .hide-desktop {
      display: inline-flex;
    }
    .sidenav {
      width: 200px;
    }
  }
}
