.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}
