@use 'global' as global;

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{global.$footer-height} - #{global.$toolbar-height} - 5px);
  background-color: var(--surface-bg);
  color: var(--surface-text);
  text-align: center;
  overflow: hidden;

  .splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: global.$spacing-lg;

    .title {
      @include global.ngvault-font-logo;
      @include global.h1-element;
      // font-size: global.$font-size-5xl;
      color: global.$ngvault-primary-base;
      margin: 0;
    }

    .sub-title {
      font-size: global.$font-size-md;
    }

    .about-container {
      width: 80%;
      font-size: global.$font-size-sm;
      text-align: justify;
    }
  }
}
