<div class="splash-container">
  <div class="splash-content">
    <h1 class="title">{{ appName }}</h1>
    <div class="sub-title">Reactive State, Secured by Design.</div>
    <div class="about-container">
      <p>This is the ngVault Demo — an interactive showcase of reactive state management for Angular.</p>

      <p>
        Here, you can explore how signals, stores, and state synchronization come together to power dynamic
        applications.
      </p>
      <p>
        Use the Examples section to view live user and car data, see instant updates, and understand how ngVault
        connects related entities in real time.
      </p>
      <p>
        Then open the Dev Tools panel to inspect what’s happening under the hood — every event, patch, and state change
        — giving you a clear, hands-on view of how ngVault manages and reacts to application state.
      </p>
    </div>
  </div>
</div>
