@use 'global' as global;

.navigation-container {
  height: calc(100vh - #{global.$footer-height} - #{global.$toolbar-height});

  .sidenav-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;

    .router-container {
      width: 100%;
    }

    .sidenav {
      width: 240px;
      height: calc(100vh - #{global.$footer-height} - #{global.$toolbar-height});
      background: #fafafa;
      border-right: 1px solid #e0e0e0;

      .sidenav-content {
        margin-top: 10px;
        width: 250px;
        color: black;
        overflow-x: hidden;

        .sidenav-header {
          font-weight: 600;
          color: black;
          gap: 0.25em;
        }
      }
    }

    .mat-nav-list a.active {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .content {
      padding: 1.5rem;
    }

    .navigation-list {
      width: 100%;

      .menu-content {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        .type {
          font-size: 0.75rem;
        }
      }
    }
  }

  .bottom-left-box {
    position: fixed;
    bottom: 38px;
    left: 1px;
    width: 48px;
    height: 48px;
    color: black;
    z-index: 999; /* Ensures it stays on top */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
